@import "./picker-column";
@import "../picker/picker.md.vars";

// Material Design Picker Column
// --------------------------------------------------

.picker-col {
  @include padding($picker-md-column-padding-top, $picker-md-column-padding-end, $picker-md-column-padding-bottom, $picker-md-column-padding-start);

  transform-style: preserve-3d;
}

.picker-prefix,
.picker-suffix,
.picker-opts {
  transform-style: preserve-3d;

  color: inherit;

  font-size: $picker-md-option-font-size;

  line-height: $picker-md-option-height;
}

.picker-prefix,
.picker-suffix,
.picker-opt.picker-opt-selected {
  color: $picker-md-option-selected-color;
}